* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.game-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	.game-area-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 70%;

		.game-area {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			width: 600px;
			height: auto;

			.img-container {
				display: flex;
				flex-direction: column;
			}

			img {
				width: 80px;
				height: 80px;
				margin-right: 4px;
				margin-bottom: 4px;
			}

		}

		button {
			width: 125px;
			height: 60px;
			color: #FBFEC7;
			border-radius: 16px;
			border: none;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			font-size: 36px;
			font-weight: 700;
			background-color: #817E0C;
			margin: 16px 0;
			cursor: pointer;
		}

		.result {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 600px;
			height: auto;

			.slot-result {
				display: flex;
				flex-direction: row;
				width: 100%;
				align-items: center;
				justify-content: space-between;

				img {
					width: 80px;
					height: 80px;
					margin-right: 4px;
					margin-bottom: 4px;
				}
			}

			span {
				font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
				font-size: 36px;
				font-weight: 700;
				color: rgb(161, 218, 161);
			}
		}
	}

	.user-info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		padding-bottom: 60px;
		min-height: 100vh;

		span {
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			font-size: 42px;
			font-weight: 700;
			color: #fff;
		}
	}
}
